<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Climate Data Visualization</title>
    <script type="text/javascript">
      function updateGraph() {
        var indicator = document.getElementById("indicator").value;
        var img = document.getElementById("graphImage");
        img.src = "../graphs/" + indicator + ".png";
      }
    </script>
    <style>
      .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    </style>
  </head>
  <body class="container">
    <h1>상승하는 세계 기후</h1>
    <select id="indicator" onchange="updateGraph()">
      <option value="south_korea_temp_change">서울 평균기온의 변화</option>
      <option value="comparison_selected_countries">
        선진국들의 평균기온 변화
      </option>
      <option value="global_avg_temp_change">전세계 평균기온 변화</option>
    </select>
    <img
      id="graphImage"
      src="../graphs/south_korea_temp_change.png"
      alt="Graph"
      style="width: 100%; height: auto"
    />
  </body>
</html>
